.header {
    display: grid;
    grid-template-columns: auto minmax(200px, 1220px) auto;
    padding-top: 20px;

    @media (min-width: 992px) {
        padding-top: 30px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
        grid-column: 2/3;
        
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__menu {
        display: flex;
        color: #ffffff;
        max-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        @media (min-width: 768px) {
            left: 0;
            right: 0;
            position: absolute;
        }

        .menu__item:nth-child(2) {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;

            @media (min-width: 768px) {
                padding-left: 30px;
                padding-right: 30px;
            }

            &::after,
            &::before {
                position: absolute;
                left: 8px;
                content: "/";
            }

            &::after {
                right: 8px;
                left: auto;
            }
        }
    }

    &__download {
        display: flex;
        background-color: var(--base-color-4);
        gap: 10px;
        align-items: center;
        padding: 10px;
        border-radius: 5px;

        &-top {
            color: var(--base-color-2);
            font-size: 16px;
        }

        &-bottom {
            font-size: 14px;
            font-weight: 600;
        }

        span {
            display: block;
        }
    }
}